/* img from
1. Photo by <a href="https://unsplash.com/@bradencollum?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Braden Collum</a> on <a href="https://unsplash.com/photos/man-on-running-field-9HI8UJMSdZA?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
2. Photo by <a href="https://unsplash.com/@johnarano?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">John Arano</a> on <a href="https://unsplash.com/photos/woman-doing-weight-lifting-h4i9G-de7Po?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
3. Photo by <a href="https://unsplash.com/@victorfreitas?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Victor Freitas</a> on <a href="https://unsplash.com/photos/man-holding-dumbbells-qZ-U9z4TQ6A?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
4. Photo by <a href="https://unsplash.com/@austris_a?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Austris Augusts</a> on <a href="https://unsplash.com/photos/running-field-during-daytime-52p1K0d0euM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
5. Photo by <a href="https://unsplash.com/@markusspiske?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Markus Spiske</a> on <a href="https://unsplash.com/photos/group-of-cyclist-on-asphalt-road-WUehAgqO5hE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
6. Photo by <a href="https://unsplash.com/@karsten116?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Karsten Winegeart</a> on <a href="https://unsplash.com/photos/woman-in-black-tank-top-sitting-on-brown-wooden-bench-0Wra5YYVQJE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  */


  *{
    margin: 0;
    padding: 0;
    line-height: 0;
  }

  body{
    background-color: #ccc;
    text-align: center;
  }

  .container{
    width: 600px;
    margin: 10px auto;
    border: 5px solid white;
    overflow: auto;
  }

  .thumb{
    width: 200px;
    float: left;
    border: 2px solid white;
    box-sizing: border-box;
  }

  .thumb:hover{
    opacity: .5;
    cursor: pointer;
  }